:root {
    --mainColor: #263238;
    --mainBackground: #f0f5f3;

    --highlightColor: #59e4a9;
}

/* #region ================================================== Reglas globales */

html {
    font-size: 1px;
    background-color: var(--mainBackground);
    /* scroll-behavior: smooth; */
    transition: font-size 0.3s ease;
}

:where(*) {
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
:where(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:where(.wrap) {
    max-width: 1420rem;
    display: flex;
    flex-direction: column;
    gap: 32rem;
}

body {
    font-size: 16rem;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* #endregion Reglas globales */

/* #region =========================================================== Header */
.o-mainHeader {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 25rem 16rem;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    margin: 0;
}

.o-mainHeader .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.o-mainHeader__container {
    display: flex;
    flex-direction: row;
    gap: 124rem;
}

.m-mainNav__button {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.a-buttonLine {
    display: block;
    height: 1px;
    width: 15px;
    background-color: white;
}
.a-headerItemSearch__text {
    background-color: transparent;
    border: none;
    border-bottom: 0.5rem solid white;
    padding-bottom: 2px;
}
.a-headerItemSearch__text::placeholder {
    font-size: 16rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

/* #region ====================================================== Left Header */
.m-headerLogo__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-headerLogoContainer__img {
    display: flex;
    max-width: 300rem;
    min-width: 125rem;
    transition: all ease-in-out 0.5s;
}
/* #endregion Left Header */

/* #region ===================================================== Right Header */
.m-headerItem_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    list-style: none;
}
.m-headerItem__link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.a-headerItemLink__text {
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
}
/* #endregion  Right Header */
/* #endregion Header */

/* #region ===================================================== Hero Section */
.o-heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 19000px;
    background-color: black;
}
.m-heroSection__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.o-heroSection__content {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400rem;
    width: 1000rem;
}
@keyframes trucoDesesperado {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.m-heroStep__item {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    animation: trucoDesesperado 3s forwards steps(2);
}
.m-heroStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40rem;
    max-width: 450rem;
    opacity: 0;
}

@keyframes animationIN {
    from {
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes animationOUT {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.m-heroStep.-animationIN {
    animation-duration: 1.5s;
    animation-name: animationIN;
    animation-fill-mode: forwards; /* Esta propiedad mantiene el estado final del keyframe */

}
.m-heroStep.-animationOUT {
    animation-duration: 1.5s;
    animation-name: animationOUT;
    animation-fill-mode: forwards; /* Esta propiedad mantiene el estado final del keyframe */
}

.m-heroStep img {
    height: auto;
    filter: drop-shadow(0px 0px 25px #000000);
}
.m-heroStep__header {
    max-width: 200rem;
}
.m-heroStep__logo {
    max-width: 100rem;
}
.m-heroStep__subtitle {
    max-width: 400rem;
}
.m-heroStep__footer {
    max-width: 200rem;
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.m-reloadButton{
    position: fixed;
    --size:32rem;
    width: var(--size);
    height: var(--size);
    bottom: 32rem;
    left: 50%;
    animation: blinkAnimation 3s infinite;
    transition: all ease-in-out 1s;
    cursor: pointer;
}
.m-reloadButton.-active{
    position: fixed;
    --size:48rem;
    transform: translateY(-30px) rotate(180deg);
}

/* #endregion Hero Section */

/* --------------------------------------------------------------- RESPONSIVE */
/* --------------------------------------------------------------- RESPONSIVE */
/* --------------------------------------------------------------- RESPONSIVE */

@media (max-width: 1050px) {
}

@media (max-width: 720px) {
    html {
        font-size: 0.9px;
    }

    /* #region =========================================++++++======== Header */
    .o-mainHeader {
        align-items: center;
    }
    .m-headerLogo__container,
    .m-headerItem.-link {
        display: none;
    }
    /* #endregion Header */

    .m-heroStep{
        padding: 0 24rem;
    }
}
